body {
    height: 100vh;
    background-size: cover;
    text-align: center;
    background-image: url("/images/Chat_background.png"); 
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.letterCenter{
    display: flex;
    justify-content: center;
}
div.letterList {
    max-width: 700px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    font-size: 50px;
    letter-spacing: 20px;
    flex-wrap: wrap;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;

}

.userLetters {
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-top: 50px;
    font-size: 25px;

}

.countdown {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    padding-right: 175px;
}

.life {
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

.lifepic {
    width: 125px;
    height: 125px;
}

.header {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

span {
    padding-top: 30px;
    padding-right: 10px;
    color: white;
}

#heroImage {
    max-width: 100vw;
    max-height: 100vh;
    background-image: url();
    position: absolute;
    opacity: 0.8;
    filter: grayscale(30%);
    display: none;
}
#heroImageLose {
    max-width: 100vw;
    max-height: 100vh;
    background-image: url();
    position: absolute;
    opacity: 0.8;
    filter: grayscale(30%);
    display: none;
}

#endMessage {
    font-size: 10vw;
    position: absolute;
    color: white;
}

.livesRemaining{
    
    color: white;
    padding-top: 45px;
    font-size: 25px;
}

.letterUsed{
    color: white;
    display: flex;
    position: absolute;
    flex-direction: row;
    font-size: 25px;
    border: solid white;
    border-width: 1px;
    padding: 1vh 1vw;
    margin-top: 20px;
    flex-wrap: wrap;
    letter-spacing: 3px;
}

.restart{
    display: none;
    text-decoration: underline;
    padding-left: 20px;
}