html{

}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    
}

div.letters{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows:20% 20% 20% 20% 20% ;
    text-align: center;
}

.userLetters{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
}