

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    
}

div.letterList{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows:20% 20% 20% 20% 20% ;
    text-align: center;
}

.userLetters{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100%;
}

.countdown{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100%;
}